.demand-btn{
    line-height: 1;
    display: inline-block;
    font-size: 0.8rem;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    padding: 0.5rem;
    background-color: #5ab9b8;
    cursor: pointer;
}